<font size="5">Modelling of data on different models choosing the best

In [1]:
import pandas as pd
import os
os.getcwd()

'D:\\IDMA\\Project2'

In [43]:
df = pd.read_csv('cleaned_sorted.csv')

In [44]:
df.head(2)

,Unnamed: 0,listing_id,available,price,adjusted_price,minimum_nights,maximum_nights,name,latitude,longitude,...,total_reviews,days_since_review,no_of_amenities,Elements,no_of_bath,bath_type,word_in_row,bath_type1,host_for,host_country
0,0,50904,0.0,166.666667,158.666667,1.000000,60.0,aplace/antwerp: cosy suite - fashion district,51.218575,4.398631,...,2.0,1377.5,591,591,1.0,Private,False,False,4247,Belgium
1,1,891884,0.0,175.000000,175.000000,1.666667,1125.0,aplace/antwerp: amazing suite & square view,51.218575,4.398631,...,2.0,638.0,550,550,1.0,Private,False,False,4247,Belgium

In [45]:
df.shape

(1740, 31)

In [46]:
df.columns

Index(['Unnamed: 0', 'listing_id', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights', 'name', 'latitude', 'longitude',
       'property_type', 'room_type', 'accomodates', 'bathrooms_text',
       'bedrooms', 'beds', 'amenities', 'host_id', 'host_name', 'host_since',
       'host_location', 'total_reviews', 'days_since_review',
       'no_of_amenities', 'Elements', 'no_of_bath', 'bath_type', 'word_in_row',
       'bath_type1', 'host_for', 'host_country'],
      dtype='object')

<font size="5">Removing of unnecessary columns

In [47]:
df.drop(['Unnamed: 0','listing_id','name','latitude','longitude','bathrooms_text','host_id','host_name','host_since','Elements','word_in_row','bath_type1'],axis=1,inplace=True)

In [48]:
df.shape

(1740, 19)

In [49]:
df.columns

Index(['available', 'price', 'adjusted_price', 'minimum_nights',
       'maximum_nights', 'property_type', 'room_type', 'accomodates',
       'bedrooms', 'beds', 'amenities', 'host_location', 'total_reviews',
       'days_since_review', 'no_of_amenities', 'no_of_bath', 'bath_type',
       'host_for', 'host_country'],
      dtype='object')

In [50]:
df.drop(['adjusted_price','host_location'],axis=1,inplace=True)

In [51]:
df.drop(['amenities'],axis=1,inplace=True)

In [53]:
df['available'] = pd.Categorical(df.available)
df['room_type'] = pd.Categorical(df.room_type)
df['host_country'] = pd.Categorical(df.host_country)
df['property_type'] = pd.Categorical(df.property_type)
df['bath_type'] = pd.Categorical(df.bath_type)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1740 entries, 0 to 1739
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   available          1740 non-null   category
 1   price              1740 non-null   float64
 2   minimum_nights     1740 non-null   float64
 3   maximum_nights     1740 non-null   float64
 4   property_type      1740 non-null   category
 5   room_type          1740 non-null   category
 6   accomodates        1740 non-null   int64
 7   bedrooms           1740 non-null   float64
 8   beds               1740 non-null   float64
 9   total_reviews      1740 non-null   float64
 10  days_since_review  1740 non-null   float64
 11  no_of_amenities    1740 non-null   int64
 12  no_of_bath         1740 non-null   float64
 13  bath_type          1740 non-null   category
 14  host_for           1740 non-null   int64
 15  host_country       1740 non-null   category
dtypes: category(5), float64(8), int64(3)
memory usage: 161.3 KB

<font size="5">Creating dummy of objective variables based on country and room type using "dummies"

In [55]:
df = pd.get_dummies(df)

In [56]:
df.shape

(1740, 92)

In [106]:
from sklearn.model_selection import train_test_split
from math import sqrt

In [107]:
x = df.drop(['price'],axis=1)
y = df['price']

In [108]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(x,y,test_size=0.25,random_state=42)

<font size="5">Linear Regression Modelling

In [109]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [110]:
model = LinearRegression()
model = model.fit(X_Train,Y_Train)

In [112]:
model

LinearRegression()

In [113]:
model.score(X_Train,Y_Train)

0.3057785409575593

In [115]:
predicted = model.predict(X_Test)

In [116]:
RMSE = sqrt(mean_squared_error(Y_Test,predicted))
RMSE

105.65953686081473

<font size="5">Decision Tree Regression

In [117]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0)
model2 = regressor.fit(X_Train,Y_Train)

In [118]:
model2

DecisionTreeRegressor(random_state=0)

In [119]:
predicted2 = model2.predict(X_Test)

In [120]:
RMSE2 = sqrt(mean_squared_error(Y_Test,predicted2))
RMSE2

109.4101461320126

<font size="5">Random Forest Modelling

In [121]:
from sklearn.ensemble import RandomForestRegressor
regressor3 = RandomForestRegressor(max_depth=2, random_state=0)
model3 = regressor3.fit(X_Train,Y_Train)

In [122]:
model3

RandomForestRegressor(max_depth=2, random_state=0)

In [123]:
predicted3 = model3.predict(X_Test)

In [124]:
RMSE3 = sqrt(mean_squared_error(Y_Test,predicted3))
RMSE3

109.2510318094533

<font size="5">Gradient Boosting Modelling

In [126]:
from sklearn.ensemble import GradientBoostingRegressor
regressor4 = GradientBoostingRegressor(random_state=0)
model4 = regressor4.fit(X_Train,Y_Train)

In [127]:
model4

GradientBoostingRegressor(random_state=0)

In [128]:
predicted4 = model4.predict(X_Test)

In [129]:
RMSE4 = sqrt(mean_squared_error(Y_Test,predicted4))
RMSE4

94.41228984161606

In [130]:
Data = [['LinearRegressor',RMSE],['DecissionTree',RMSE2],['RandomForest',RMSE3],['GradientBoost',RMSE4]]
Results = pd.DataFrame(Data, columns = ['Model', 'RMSE'])

In [131]:
Results

             Model        RMSE
0  LinearRegressor  105.659537
1    DecissionTree  109.410146
2     RandomForest  109.251032
3    GradientBoost   94.412290